# Dependencies
node_modules/

# Next.js
.next/
out/

# Environment variables
.env
.env.local
.env.production.local
.env.development.local

# Logs
*.log
*.err
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Build files
*.tsbuildinfo

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
